{% import '_includes/forms' as forms %}

<h2>Poll Settings</h2>

{{ forms.checkbox({
	label: "Require login to vote"|t,
	id: 'requireLogin',
	name: 'requireLogin',
	checked: settings.requireLogin,
	errors: settings.getErrors('requireLogin')
}) }}
<br>
{{ forms.lightSwitchField ({
	label: "User answers visible"|t,
	instructions: "Allows users to view which user voted for which answer (in the CP)"|t,
	id: 'usersCanViewAnswers',
	name: 'usersCanViewAnswers',
	on: settings.usersCanViewAnswers,
	errors: settings.getErrors('usersCanViewAnswers')
}) }}
